@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");


        $primary-color: hsl(176, 50%, 47%);
        $secondary-color: hsl(176, 72%, 28%);
        $black: hsl(0, 0%, 0%);
        $white: #fff;
        $tertiary-color: hsl(0, 0%, 48%);
        $page-font: "Commissioner", sans-serif;


%main {
          width: 50%;
          height: max-content;
          margin: 0 auto;
          background: $white;
          border: none;
          border-radius: 10px;
          padding: 45px;
        
}

%btn {
          width: max-content;
          padding: 13px 20px;
          background: $primary-color;
          color: $white;
          border: none;
          border-radius: 50px;
          outline: none;
          cursor: pointer;
}
%btn-1 {
          width: auto;
          background: #ede9e9;
          color: $tertiary-color;
          border: none;
          border-radius: 50px;
          outline: none;
          cursor: pointer;
}

* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body {
          width: 100%;
          font-family: $page-font;
          font-size: 16px;
          line-height: 2;
          background: #f0f0f0;
          font-weight: bold;
}

nav {
          margin: 0;
          padding: 0;
}

p {
          color: $tertiary-color;
          opacity: 0.9;
          font-weight: normal;
}

h3 {
          font-size: 18px;
}
.btn {
          @extend %btn;
          z-index: 999;
          &:hover {
                    background: $secondary-color;
                    transition: all 400ms ease-in-out;
          }
}

.bamboo,
.bamboo-1,
.mahogany {
          border: 1px solid rgb(223, 221, 221);
          border-radius: 8px;
          padding: 20px;
          box-shadow: 9px 9px 8px 0px rgba(217, 209, 209, 0.67);
          -webkit-box-shadow: 9px 9px 8px 0px rgba(217, 209, 209, 0.67);
          -moz-box-shadow: 9px 9px 8px 0px rgba(217, 209, 209, 0.67);
}

.bamboo,
.bamboo-1 {
          margin-bottom: 25px;
}

#overlay {
          position: fixed;
          display: none;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.4);
          z-index: 3;
          cursor: pointer;
}

header {
          height: 400px;
          background-image: url(../images/image-hero-desktop.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: relative;

          #crowd-head {
                    height: 120px;
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 auto;
          }

          li {
                    display: inline-block;
                    list-style: none;
                    padding: 0 15px;

                    a {
                              text-decoration: none;
                              color: $white;
                              cursor: pointer;
                    }

                    a:hover {
                              opacity: 0.9;
                              transition: opacity 300ms ease-in;
                              transform: scale(0.7);
                    }
          }

          #mobile-menu {
                    display: none;
          }

       
}

#mastercraft {
          @extend %main;
          position: absolute;
          top: 320px;
          left: 0;
          right: 0;
          z-index: 999;

          .mastercraft-img {
                    position: inherit;
                    top: -12%;
                    left: 0;
                    right: 0;
                    text-align: center;
          }

          .intro {
                    text-align: center;
                    margin: 10px 0;

                    h1 {
                              font-size: 25px;
                              color: $black;
                              line-height: 1.6;
                    }
          }

          .mastercraft-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 30px;

                    .button-1 {
                              position: relative;
                              width: 120px;
                    }
                    .btn-1 {
                              @extend %btn-1;
                              display: inline-block;
                              padding: 15px;
                              padding-left: 50px;
                    }
                    img {
                              position: absolute;
                              left: 1px;
                              right: 0;
                              top: 0;
                              z-index: 999;
                              width: 37%;
                              cursor: pointer;
                    }

                    .button-1:hover {
                              opacity: 0.9;
                              transition: all 400ms ease-in-out;
                    }
          }
}

#numbers-section {
          @extend %main;
          margin-top: 12.2%;
          margin-bottom: 17px;

          .numbers {
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
          }

          .backed,
          .backers {
                    padding-right: 40px;
                    border-right: 1px rgba(148, 148, 148, 0.2) solid;
          }

          .range-slider {
                    position: relative;

                    .bar {
                              position: absolute;
                              z-index: 999;
                              left: 1px;
                              top: 12px;
                              width: 89%;
                              height: 9px;
                              border-radius: 50px;
                              background-color: $primary-color;
                    }
          }

          input[type="range"] {
                    width: 100%;
                    -webkit-appearance: none;
                    outline: none;
                    border-radius: 50px;
                    background: rgb(221, 219, 219);
                    position: relative;
                    z-index: 3;

                    &::-webkit-slider-runnable-track {
                              height: 10px;
                              border: none;
                              border-radius: 50px;
                    }

                    &::-moz-range-track {
                              height: 10px;
                              background: $primary-color;
                              border: none;
                              border-radius: 50px;
                    }

                    &::-webkit-slider-thumb {
                              -webkit-appearance: none;
                    }
                    &::-moz-range {
                              -webkit-appearance: none;
                    }
          }
}

#about-section {
          @extend %main;
          margin-bottom: 30px;

          & article {
                    p {
                              margin-top: 30px;

                              text-align: justify;
                    }
          }

          .bamboo-section {
                    margin-top: 30px;
          }

          span {
                    color: $primary-color;

                    font-size: 13px;
          }

          p {
                    margin: 20px 0;

                    text-align: justify;
          }

          .bamboo-pledge {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & .num-left {
                              font-size: 30px;

                              .left {
                                        color: $tertiary-color;
                                        opacity: 0.9;
                              }
                    }
          }

          .mahogany {
                    margin-bottom: 0;
                    padding-bottom: 20px;
                    opacity: 0.5;

                    .btn {
                              @extend %btn-1;
                    }
          }
}

// Default Modal Section

#modal-default {
          @extend %main;
          position: absolute;
          left: 50%;
          top: 110%;
          transform: translate(-50%, -50%);
          transition: 0.3s;
          z-index: 999;
          overflow: visible;
          visibility: hidden;

          img {
                    float: right;
                    cursor: pointer;
          }
          h3 {
                    margin-top: 25px;
                    font-size: 23px;
          }

          p {
                    margin-bottom: 30px;
          }

          input[type="radio"] {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    top: 5px;
                    padding: 2px;
                    background-clip: content-box;
                    border: 2px solid #bbbbbb;
                    background-color: #e7e6e7;
                    border-radius: 50%;
                    cursor: pointer;
          }
          input[type="radio"]:checked {
                    background-color: $primary-color;
          }

          label {
                    margin-left: 15px;
                    font-weight: bold;
                    cursor: pointer;
          }

          label:hover {
                    color: $primary-color;
                    font-weight: bold;
                    transition: color 300ms ease-in;
          }

          span {
                    color: $primary-color;
                    font-size: 14px;
          }

          .left {
                    color: $tertiary-color;
                    opacity: 0.9;
          }

          p {
                    margin-top: 15px;
          }

          .bamboo-stand {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
          }

          .mahogany {
                    margin-bottom: 0;
                    padding-bottom: 20px;
                    opacity: 0.5;

                    .btn {
                              @extend %btn-1;
                    }
          }

          .selected-pledge
           {
                    opacity: 0;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px solid rgb(223, 221, 221);
                    padding-top: 15px;
                    position: relative;
                    overflow: hidden;
                    max-height: 0;
                    transform: scale(0.8);
                    transition: 0.5s;

                    p {
                              padding-top: 10px;
                    }
          }

        //   #pledge:checked ~ .selected-pledge {
        //             display: flex;
        //             opacity: 1;
        //             max-height: 100px;
        //             overflow: visible;
        //             padding-bottom: 10px;
        //             transform: scale(1);
        //   }

     

          input[type="number"] {
                    border-radius: 25px;
                    min-width: 40px;
                    max-width: 90px;
                    padding: 10px;
                    outline: none;
                    caret-color: $primary-color;
                    border: 2px solid $primary-color;
                    margin: 0 5px;
                    font-size: 15px;
                    text-align: center;
          }

          .dollar {
                    position: absolute;
                    left: 70%;
                    right: 70%;
                    top: 35px;
                    bottom: 0;
                    z-index: 999;
                    color: $tertiary-color;
                    font-size: 17px;
          }
}

#modal-success {
          @extend %main;
          width: 38%;
          padding: 40px;
          position: fixed;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 999;
          text-align: center;
          visibility: hidden;

          .modal-img {
                    margin-bottom: 20px;
          }

          h3 {
                    line-height: 2.5;
          }

          .got-it {
                    margin-top: 20px;
                    width: 120px;
          }
}

@media only screen and (max-width: 1024px) {
          #mastercraft,
          #numbers-section,
          #about-section,
          #modal-default {
                    width: 70%;
          }

          #modal-success {
                    width: 60%;
          }

          #numbers-section {
                    margin-top: 19%;

                    .numbers {
                              width: 100%;
                              gap: 20px;
                    }
          }

          #modal-default {
                    top: 105%;

                    .dollar {
                              left: 54%;
                              right: 54%;
                    }
          }
}

@media only screen and (max-width: 768px) {
          p {
                    font-size: 14px;
          }

          #mastercraft .mastercraft-img {
                    top: -11%;
          }

          #numbers-section {
                    margin-top: 23%;
          }

          #modal-default {
                    top: 150%;

                    .dollar {
                              left: 57%;
                              right: 57%;
                    }
          }
}

@media only screen and (max-width: 600px) {

          #mastercraft,
          #numbers-section,
          #about-section,
          #modal-default {
                    width: 90%;
                    padding: 20px;
          }

          #modal-success {
                    width: 80%;
                    padding: 20px;
          }

          header {
                    height: 300px;
                    background-image: url(../images/image-hero-mobile.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;

                    #crowd-head {
                              height: 70px;
                              width: 90%;
                    }

                    nav {
                              display: none;
                    }

                    #mobile-menu {
                              display: block;

                              .hamburger {
                                        position: absolute;
                                        top: 18px;
                                        right: 38px;
                                        cursor: pointer;
                                        display: block;

                                        #menu-close {
                                                  position: absolute;
                                                  top: 8px;
                                                  right: 0;
                                                  display: none;
                                        }
                              }

                              .menu {
                                        display: none;
                                        width: 85%;
                                        height: max-content;
                                        background-color: $white;
                                        border-radius: 10px;
                                        position: absolute;
                                        top: 55%;
                                        left: 50%;
                                        transform: translate(-50%, -50%)
                                                  scale(1);
                                        z-index: 999;

                                        a {
                                                  display: block;
                                                  text-decoration: none;
                                                  color: $black;
                                                  padding: 15px 20px;
                                                  font-size: 18px;
                                                  font-weight: bold;

                                                  &:hover {
                                                            transform: scale(
                                                                      0.98,
                                                                      1.1
                                                            );
                                                  }
                                        }

                                        .link1 {
                                                  border-bottom: 1px
                                                            rgba(
                                                                      148,
                                                                      148,
                                                                      148,
                                                                      0.2
                                                            )
                                                            solid;
                                        }
                              }
                    }
          }

          #mastercraft {
                    top: 230px;

                    .mastercraft-btn {
                              width: 100%;

                              .btn {
                                        width: 260px;
                              }

                              .btn-1 {
                                        display: none;
                              }

                              img {
                                        left: 20px;
                                        top: -23px;
                                        width: 60%;

                                        outline: none;
                              }
                    }
          }

          #numbers-section {
                    margin-top: 48%;

                    .numbers {
                              width: 100%;
                              flex-direction: column;

                              text-align: center;
                    }

                    .backed,
                    .backers {
                              padding-right: 0;
                              padding-bottom: 10px;
                              border-right: none;
                              border-bottom: 1px rgba(148, 148, 148, 0.2) solid;
                    }
          }

          #about-section .bamboo-pledge,
          #modal-default .bamboo-stand {
                    flex-direction: column;
                    align-items: flex-start;
          }

          #modal-default {
                    top: 160%;

                    h4 {
                              position: relative;
                              top: 140px;
                              font-size: 26px;
                    }

                    .font-1 {
                              top: 170px;
                    }

                    p {
                              margin-top: 5px;
                    }

                    label {
                              padding-right: 50px;
                              width: 100%;
                              font-size: 14px;
                    }
                    #label-1 {
                              padding-right: 100px;
                    }

                    #more {
                              margin-left: 40px;
                    }
                    #more-1 {
                              margin-left: 17px;
                    }

                    .parag {
                              margin-top: -23px;
                    }

                    .selected-pledge {
                              flex-direction: column;
                              margin-bottom: 20px;

                              p {
                                        padding-top: 0;
                              }

                              .dollar {
                                        top: 83%;
                                        bottom: 0;
                                        left: 19%;
                              }
                    }
          }
}

@media only screen and (max-width: 375px) {

   
          #mastercraft {
                    .mastercraft-btn {
                            

                              .btn {
                                        width: 220px;
                              }

                              img {
                                        width: 58%;
                              }
                    }
          }

          #numbers-section {
                    margin-top: 55%;
          }

          #modal-default {
                    top: 150%;

                    label {
                              padding-right: 0;
                              width: 100%;
                              font-size: 14px;
                    }
                    #label-1 {
                              padding-right: 30px;
                    }

                    .font-1 {
                              top: 160px;
                    }

                    h4 {
                              top: 150px;
                    }
                    .selected-pledge .dollar {
                              left: 11%;
                    }
          }

          #modal-success {
                    width: 90%;
                    padding: 15px;
          }
}

@media only screen and (max-width: 320px) {
    #mastercraft {
        .mastercraft-btn {
             

                  .btn {
                            width: 185px;
                  }

                  img {
                      left: 5px;
                            width: 80%;
                  }
        }
}

          #numbers-section {
                    margin-top: 64%;
          }

          #modal-default {
                    top: 180%;
                    label {
                              margin-left: 5px;
                              font-size: 12px;
                    }

                    #more,
                    #more-1 {
                              font-size: 12px;
                    }
                    #more {
                              margin-left: 30px;
                    }

                    #more-1 {
                              margin-left: 0;
                    }

                    
                    .font-1 {
                        top: 210px;
              }

              h4 {
                        top: 190px;
              }
          }
}
