@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
:root {
  --primary-color: hsl(176, 50%, 47%);
  --secondary-color: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --white: #fff;
  --tertiary-color: hsl(0, 0%, 48%);
  --page-font: "Commissioner", sans-serif;
}

#mastercraft, #numbers-section, #about-section, #modal-default, #modal-success {
  width: 50%;
  height: max-content;
  margin: 0 auto;
  background: var(--white);
  border: none;
  border-radius: 10px;
  padding: 45px;
}

.btn {
  width: max-content;
  padding: 13px 20px;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

#mastercraft .mastercraft-btn .btn-1, #about-section .mahogany .btn, #modal-default .mahogany .btn {
  width: auto;
  background: #ede9e9;
  color: var(--tertiary-color);
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--page-font);
  font-size: 16px;
  line-height: 2;
  background: #f0f0f0;
  font-weight: bold;
}

nav {
  margin: 0;
  padding: 0;
}

p {
  color: var(--tertiary-color);
  opacity: 0.9;
  font-weight: normal;
}

h3 {
  font-size: 18px;
}

.btn {
  z-index: 999;
}

.btn:hover {
  background: var(--secondary-color);
  transition: all 400ms ease-in-out;
}

.bamboo,
.bamboo-1,
.mahogany {
  border: 1px solid #dfdddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 9px 9px 8px 0px rgba(217, 209, 209, 0.67);
  -webkit-box-shadow: 9px 9px 8px 0px rgba(217, 209, 209, 0.67);
  -moz-box-shadow: 9px 9px 8px 0px rgba(217, 209, 209, 0.67);
}

.bamboo,
.bamboo-1 {
  margin-bottom: 25px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  cursor: pointer;
}

header {
  height: 400px;
  background-image: url(../images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

header #crowd-head {
  height: 120px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header li {
  display: inline-block;
  list-style: none;
  padding: 0 15px;
}

header li a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

header li a:hover {
  opacity: 0.9;
  transition: opacity 300ms ease-in;
  transform: scale(0.7);
}

header #mobile-menu {
  display: none;
}

#mastercraft {
  position: absolute;
  top: 320px;
  left: 0;
  right: 0;
  z-index: 999;
}

#mastercraft .mastercraft-img {
  position: inherit;
  top: -12%;
  left: 0;
  right: 0;
  text-align: center;
}

#mastercraft .intro {
  text-align: center;
  margin: 10px 0;
}

#mastercraft .intro h1 {
  font-size: 25px;
  color: var(--black);
  line-height: 1.6;
}

#mastercraft .mastercraft-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#mastercraft .mastercraft-btn .button-1 {
  position: relative;
  width: 120px;
}

#mastercraft .mastercraft-btn .btn-1 {
  display: inline-block;
  padding: 15px;
  padding-left: 50px;
}

#mastercraft .mastercraft-btn img {
  position: absolute;
  left: 1px;
  right: 0;
  top: 0;
  z-index: 999;
  width: 37%;
  cursor: pointer;
}

#mastercraft .mastercraft-btn .button-1:hover {
  opacity: 0.9;
  transition: all 400ms ease-in-out;
}

#numbers-section {
  margin-top: 12.2%;
  margin-bottom: 17px;
}

#numbers-section .numbers {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#numbers-section .backed,
#numbers-section .backers {
  padding-right: 40px;
  border-right: 1px rgba(148, 148, 148, 0.2) solid;
}

#numbers-section .range-slider {
  position: relative;
}

#numbers-section .range-slider .bar {
  position: absolute;
  z-index: 999;
  left: 1px;
  top: 12px;
  width: 89%;
  height: 9px;
  border-radius: 50px;
  background-color: var(--primary-color);
}

#numbers-section input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  border-radius: 50px;
  background: #dddbdb;
  position: relative;
  z-index: 3;
}

#numbers-section input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  border: none;
  border-radius: 50px;
}

#numbers-section input[type="range"]::-moz-range-track {
  height: 10px;
  background: var(--primary-color);
  border: none;
  border-radius: 50px;
}

#numbers-section input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#numbers-section input[type="range"]::-moz-range {
  -webkit-appearance: none;
}

#about-section {
  margin-bottom: 30px;
}

#about-section article p {
  margin-top: 30px;
  text-align: justify;
}

#about-section .bamboo-section {
  margin-top: 30px;
}

#about-section span {
  color: var(--primary-color);
  font-size: 13px;
}

#about-section p {
  margin: 20px 0;
  text-align: justify;
}

#about-section .bamboo-pledge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about-section .bamboo-pledge .num-left {
  font-size: 30px;
}

#about-section .bamboo-pledge .num-left .left {
  color: var(--tertiary-color);
  opacity: 0.9;
}

#about-section .mahogany {
  margin-bottom: 0;
  padding-bottom: 20px;
  opacity: 0.5;
}

#modal-default {
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  z-index: 999;
  overflow: visible;
  visibility: hidden;
}

#modal-default img {
  float: right;
  cursor: pointer;
}

#modal-default h3 {
  margin-top: 25px;
  font-size: 23px;
}

#modal-default p {
  margin-bottom: 30px;
}

#modal-default input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  padding: 2px;
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
  cursor: pointer;
}

#modal-default input[type="radio"]:checked {
  background-color: var(--primary-color);
}

#modal-default label {
  margin-left: 15px;
  font-weight: bold;
  cursor: pointer;
}

#modal-default label:hover {
  color: var(--primary-color);
  font-weight: bold;
  transition: color 300ms ease-in;
}

#modal-default span {
  color: var(--primary-color);
  font-size: 14px;
}

#modal-default .left {
  color: var(--tertiary-color);
  opacity: 0.9;
}

#modal-default p {
  margin-top: 15px;
}

#modal-default .bamboo-stand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal-default .mahogany {
  margin-bottom: 0;
  padding-bottom: 20px;
  opacity: 0.5;
}

#modal-default .selected-pledge,
#modal-default .selected-pledge-1,
#modal-default .selected-pledge-2 {
  opacity: 0;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dfdddd;
  padding-top: 15px;
  position: relative;
  overflow: hidden;
  max-height: 0;
  transform: scale(0.8);
  transition: 0.5s;
}

#modal-default .selected-pledge p,
#modal-default .selected-pledge-1 p,
#modal-default .selected-pledge-2 p {
  padding-top: 10px;
}

#modal-default #pledge:checked ~ .selected-pledge {
  display: flex;
  opacity: 1;
  max-height: 100px;
  overflow: visible;
  padding-bottom: 10px;
  transform: scale(1);
}

#modal-default #pledge-1:checked ~ .selected-pledge-1 {
  display: flex;
  opacity: 1;
  max-height: 100px;
  overflow: visible;
  padding-bottom: 10px;
  transform: scale(1);
}

#modal-default #pledge-2:checked ~ .selected-pledge-2 {
  display: flex;
  opacity: 1;
  max-height: 100px;
  overflow: visible;
  padding-bottom: 10px;
  transform: scale(1);
}

#modal-default input[type="number"] {
  border-radius: 25px;
  min-width: 40px;
  max-width: 90px;
  padding: 10px;
  outline: none;
  caret-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  margin: 0 5px;
  font-size: 15px;
  text-align: center;
}

#modal-default .dollar {
  position: absolute;
  left: 70%;
  right: 70%;
  top: 35px;
  bottom: 0;
  z-index: 999;
  color: var(--tertiary-color);
  font-size: 17px;
}

#modal-success {
  width: 38%;
  padding: 40px;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
  visibility: hidden;
}

#modal-success .modal-img {
  margin-bottom: 20px;
}

#modal-success h3 {
  line-height: 2.5;
}

#modal-success .got-it {
  margin-top: 20px;
  width: 120px;
}

@media only screen and (max-width: 1024px) {
  #mastercraft,
  #numbers-section,
  #about-section,
  #modal-default {
    width: 70%;
  }
  #modal-success {
    width: 60%;
  }
  #numbers-section {
    margin-top: 19%;
  }
  #numbers-section .numbers {
    width: 100%;
    gap: 20px;
  }
  #modal-default {
    top: 55%;
  }
  #modal-default .dollar {
    left: 54%;
    right: 54%;
  }
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
  #mastercraft .mastercraft-img {
    top: -11%;
  }
  #numbers-section {
    margin-top: 25%;
  }
  #modal-default {
    top: 80%;
  }
  #modal-default .dollar {
    left: 57%;
    right: 57%;
  }
}

@media only screen and (max-width: 600px) {
  #mastercraft,
  #numbers-section,
  #about-section,
  #modal-default {
    width: 90%;
  }
  #modal-success {
    width: 80%;
  }
  header {
    height: 300px;
    background-image: url(../images/image-hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  header #crowd-head {
    height: 70px;
    width: 90%;
  }
  header nav {
    display: none;
  }
  header #mobile-menu {
    display: block;
  }
  header #mobile-menu .hamburger {
    position: absolute;
    top: 18px;
    right: 38px;
    cursor: pointer;
    display: block;
  }
  header #mobile-menu .hamburger #menu-close {
    position: absolute;
    top: 8px;
    right: 0;
    display: none;
  }
  header #mobile-menu .menu {
    display: none;
    width: 85%;
    height: max-content;
    background-color: var(--white);
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 999;
  }
  header #mobile-menu .menu a {
    display: block;
    text-decoration: none;
    color: var(--black);
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
  }
  header #mobile-menu .menu a:hover {
    transform: scale(0.98, 1.1);
  }
  header #mobile-menu .menu .link1 {
    border-bottom: 1px rgba(148, 148, 148, 0.2) solid;
  }
  #mastercraft {
    top: 230px;
  }
  #numbers-section {
    margin-top: 48%;
  }
  #numbers-section .numbers {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  #numbers-section .backed,
  #numbers-section .backers {
    padding-right: 0;
    padding-bottom: 10px;
    border-right: none;
    border-bottom: 1px rgba(148, 148, 148, 0.2) solid;
  }
  #about-section .bamboo-pledge,
  #modal-default .bamboo-stand {
    flex-direction: column;
    align-items: flex-start;
  }
  #modal-default {
    top: 130%;
  }
  #modal-default h4 {
    position: relative;
    top: 140px;
    font-size: 26px;
  }
  #modal-default .font-1 {
    top: 170px;
  }
  #modal-default p {
    margin-top: 5px;
  }
  #modal-default label {
    padding-right: 50px;
    width: 100%;
    font-size: 14px;
  }
  #modal-default #label-1 {
    padding-right: 100px;
  }
  #modal-default #more {
    margin-left: 40px;
  }
  #modal-default #more-1 {
    margin-left: 17px;
  }
  #modal-default .parag {
    margin-top: -23px;
  }
  #modal-default .selected-pledge {
    flex-direction: column;
    margin-bottom: 20px;
  }
  #modal-default .selected-pledge p {
    padding-top: 0;
  }
  #modal-default .selected-pledge .dollar {
    top: 83%;
    bottom: 0;
    left: 19%;
  }
}

@media only screen and (max-width: 375px) {
  #mastercraft .mastercraft-btn {
    width: 100%;
  }
  #mastercraft .mastercraft-btn .btn {
    width: 190px;
  }
  #mastercraft .mastercraft-btn .button-1 {
    width: 80px;
  }
  #mastercraft .mastercraft-btn .btn-1 {
    display: none;
  }
  #mastercraft .mastercraft-btn img {
    left: 10px;
    top: -23px;
    width: 85%;
    outline: none;
  }
  #numbers-section {
    margin-top: 68%;
  }
  #modal-default {
    top: 150%;
  }
  #modal-default label {
    padding-right: 0;
    width: 100%;
    font-size: 14px;
  }
  #modal-default #label-1 {
    padding-right: 30px;
  }
  #modal-default .font-1 {
    top: 200px;
  }
  #modal-default h4 {
    top: 180px;
  }
  #modal-default .selected-pledge .dollar {
    left: 11%;
  }
  #modal-success {
    width: 90%;
    padding: 15px;
  }
}

@media only screen and (max-width: 320px) {
  #mastercraft .mastercraft-img {
    top: -9%;
  }
  #mastercraft .mastercraft-btn .btn {
    width: 145px;
  }
  #numbers-section {
    margin-top: 100%;
  }
  #modal-default {
    top: 200%;
  }
  #modal-default label {
    margin-left: 5px;
    font-size: 12px;
  }
  #modal-default #more, #modal-default #more-1 {
    font-size: 12px;
  }
  #modal-default #more {
    margin-left: 30px;
  }
  #modal-default #more-1 {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */